{% extends 'base.html' %}

{% block main %}

	<div class="row">
		<div class="col-sm">
			One of three columns
		</div>
		<div class="col-sm">
			Olá, {{ user.employee.name }} <br>
			<a href="{% url 'employee_list' %}">Lista de colaboradores</a><br>
			<a href="{% url 'department_list' %}">Lista departamentos</a><br>
			<a href="{% url 'document_create' %}">Lista de documentos</a><br>
		</div>
		<div class="col-sm">
			<a href="{% url 'logout' %}">Logout</a> |
			{% if user.employee.enterprise %}
				<a href="{% url 'update_company' user.employee.enterprise.id %}">Editar empresa</a>
			{% else %}
				<a href="{% url 'create_company' %}">Criar empresa</a>
			{% endif %}
		</div>
	</div>

{% endblock %}